.main{
    text-align: center;
    
}

.question-block{
    background-color: cornflowerblue;
    height: 100px;
    margin-bottom: 60px;
    padding-top: 80px;
}

.question-block h1{
    font-size: 26px;
    color: white;
    line-height: 100px;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-row{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: auto;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.img-row img{
    width: 100px;
}

h2{
    color: green;
    font-size: 22px;
}

.answer-btns button{
    color: white;
    background-color: steelblue;
    border-radius: 50%;
    font-size: 30px;
    width: 70px;
    margin: 30px;
    height: 70px;
    border: none;
}
.answer-btns button:hover{
    background-color: rgb(27, 65, 95);
    cursor: pointer;
}
.submit{
    color: white;
    border-radius: 50px;
    background-color: slateblue;
    border:none;
    font-size: 24px;
    height: 70px;
    width: 200px;
    margin-top: 50px;
    cursor: pointer;
}

@media (max-width:900px) {
    .img-row{
        flex-wrap: wrap;
    }
    .img-row img{
        width: 200px;
        margin-bottom: 50px;
    }
    .question-block h1{
        font-size: 32px;
    }
    h2{
        font-size: 30px;
    }
    
}