.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: auto;
    background-color: teal;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    position: fixed;
    top:0;
    width: 90%;
}

.header div a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: auto 30px;
}

.header div a:hover{
    color: tomato;
    transition: all 1s;
}