.App {
    display: flex;
    justify-content: center;
    background: linear-gradient(#e66465, #9198e5);
    height: 100vh;
    padding-top: 110px;
  }
  .todos {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    width: 40%;
    border-radius: 3px;
  }
  .center {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 3px;
    margin: 0 20px;
  }
  
  .clearDiv {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .title {
    margin-left: 20px;
  }
  .addBtn,
  .clearBtn,
  .deleteBtn {
    color: white;
    height: 40px;
    border: none;
    border-radius: 3px;
  }
  .addBtn,
  .deleteBtn {
    width: 40px;
  }
  .deleteBtn {
    background-color: rgb(255, 72, 0);
  }
  .addBtn,
  .clearBtn {
    background-color: rgb(155, 47, 226);
  }
  .todos ul {
    padding: 20px;
  }
  .todos li {
    list-style-type: none;
    background-color: silver;
    margin-bottom: 10px;
    padding-left: 0.5rem;
    align-items: center;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
  .text {
    outline: none;
    border: none;
    width: 85%;
    padding-left: 0.5rem;
  }
  .clearDiv p {
    margin: 0;
  }
  .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 40px;
    height: 40px;
    margin: 50px auto 0;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @media (max-width:800px) {
    .todos {
      width: 90%;
    }
  }