@import url('./style/todo.css');
@import url('./style/game.css');
@import url('./style/header.css');

.search-city{
    margin-top: 120px;
    text-align: center;
}
.map{
    text-align: center;
    margin-top: 40px;
    margin-left: 80px;
}
.search-city input{
    height: 50px;
    border-radius: 25px;
    width: 90%;
    background-color: rgb(8, 8, 70);
    color: white;
    border:none;
    padding-left: 20px;
    outline: none;
    font-size: 16px;
}
.search-city input::placeholder{
    color:white;
}
.search-city button{
    height: 47px;
    border-radius: 25px;
    background-color: white;
    color: darkblue;
    margin-left: -160px;
    border:none;
    font-size: 19px;
    width: 150px;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-content{
    background-color: rgb(15, 15, 66);
    margin: 70px;
    border-radius: 20px;
    color: white;
    display: flex;
   
}

.weather-content h2{
    color:white !important;
}
.weather-content h1{
    font-size: 40px;
}
.weather-content img{
    width: 20px;
    margin-right: 10px;
}
.today{
    width: 25%;
    padding: 20px;
}

.today-icon{
    width: 70px !important;
}

.next{
    background-color: rgba(128, 128, 128, 0.377);
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.next h1{
    font-size: 25px;
}
.next:nth-child(2n+1){
    background: none !important;
}

.next:last-child{
    border-radius: 0 20px 20px 0;
}